<html>
    <head>
        <title>chak 88 blog</title>
    </head>
    <body style="color:Black; background-color:#66cc66">
      <marquee behavior="scroll" direction="left">UNIQUE88 X BET закинь бабло на карту привата 683444447652 и ВЫИГРАЙ 20000$</marquee>

        <div>
            <h1><a href="/">UNION CODER 88</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr}}</p>
            </div>
        {% endfor %}

    </body>
</html>
