<html>
    <head>
        <title>chak 88 blog</title>
    </head>
    <body style="color:Yellow; background-color:#66cc66">
      <marquee behavior="scroll" direction="left">UNIQUE88 X BET закинь бабло на карту привата 68347632467652 и ВЫИГРАЙ 10000$</marquee>

        <div>
            <h1><a href="/">UNION CODER 88</a></h1>
        </div>

        <div>
            <p>published: 09.11.2019, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Всю неделю разбирался с этим Python , задолбался ! но если Вы читаете это сообщение то уже не плохо (хоть что-то) , Учение -СВЕТ! :)  </p>
        </div>

        <div>
            <p>published: 09.11.2019, 12:15</p>
            <h2><a href="">My second post</a></h2>
            <p> Завтра едем на дом, подышим свежим воздухом.Возможно будет металоискатель, постараемся найти древне-царские монеты, шансов заработать больше +1</p>
        </div>
    </body>
</html>
