<html>
    <head>
        <title>chak 88 blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">UNION CODER 88</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Всю неделю разбирался с этим Python , задолбался ! но если Вы читаете это сообщение то уже не плохо (хоть что-то) , Учение -СВЕТ! :)  </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p> Завтра едем на дом, подышим свежим воздухом.Возможно будет металоискатель, постараемся найти древне-царские монеты, шансов заработать больше +1</p>
        </div>
    </body>
</html>
